


  
  <ion-content padding class="form-content">
    
      <form  [formGroup]="validationsForm" (ngSubmit)="onLogin(validationsForm.value)" >
           
          <ion-header>
              <ion-toolbar>
                <ion-title text-center>
                  Login
                </ion-title>
              </ion-toolbar>
            </ion-header>
        
          <img src="assets/icon/YAVIRAC.jpg"> 
           <ion-grid >
              <ion-row row-4>
                  <ion-col col-6 text-center padding>         
            <!--cuadro de texto email-->
          <ion-item>
            
            <ion-label position="floating" color="primary">
                <ion-icon name="person"></ion-icon>
                  Correo Electronico
            </ion-label>
            
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

            <!-- error email-->
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validationMessages.email">
                <div class="mensaje-error" *ngIf="validationsForm.get('email').hasError(validation.type) && (validationsForm.get('email').dirty || validationsForm.get('email').touched)">
                  {{ validation.mensaje }}
                </div>
              </ng-container>
          </div>

            <!--cuadro de texto password-->
          <ion-item>
            <ion-label position="floating" color="primary">
                <ion-icon name="key"></ion-icon>
              Contraseña</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

            <!-- error password-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validationMessages.password">
              <div class="mensaje-error" *ngIf="validationsForm.get('password').hasError(validation.type) && (validationsForm.get('password').dirty || validationsForm.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
          
          <!-- spinner -->
          <!-- <div text-center>
            <ion-spinner color="primary" *ngIf="cargando"></ion-spinner>
          </div> -->

          <!-- boton -->
       
          <ion-button 
            color="medium" 
            class="submit-btn" 
            expand="full" 
            type="submit" 
            [disabled]="!validationsForm.valid"
          >
            Login
          </ion-button>
        
       
  </form>
</ion-content>

