<ion-header>
    <ion-toolbar>
      <ion-title>
        Login
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content padding class="form-content">
      <form  [formGroup]="validations_form" (ngSubmit)="login(validations_form.value)" >
            
            <!--cuadro de texto email-->
          <ion-item>
            <ion-label position="floating" color="primary">Correo Electronico</ion-label>
            <ion-input type="email" formControlName="email"></ion-input>
          </ion-item>

            <!-- error email-->
          <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="mensaje-error" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
                  {{ validation.mensaje }}
                </div>
              </ng-container>
          </div>

            <!--cuadro de texto password-->
          <ion-item>
            <ion-label position="floating" color="primary">Password</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>

            <!-- error password-->
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
              <div class="mensaje-error" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
                <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
              </div>
            </ng-container>
          </div>
    
          <!-- boton -->
          <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Login</ion-button>


  </form>
</ion-content>

