<ion-menu side="start" menuId="first">

    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Inventario</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <div *ngFor="let page of pages" >
        <ion-menu-toggle *ngIf="page.url" >
          <ion-item [routerLink]="page.url" routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            <ion-label>
              {{ page.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        
        <ion-item 
          button 
          *ngIf="page.children?.length > 0" 
          (click)="page.open = !page.open"
          [class.active-parent]="page.open"
          details="false"
          >
          <ion-icon slot="start" name="arrow-forward" *ngIf="!page.open" ></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="page.open" ></ion-icon>
          <ion-label>{{ page.title }}</ion-label>
        </ion-item>

        <ion-list *ngIf="page.open">
          <ion-menu-toggle>
              <ion-item *ngFor="let sub of page.children" [routerLink]="sub.url" routerDirection="root" routerLinkActive="active">
                <ion-icon [name]="sub.icon" slot="start"></ion-icon>
                <ion-label>
                  {{ sub.title }}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
        </ion-list>

      </div>
    </ion-content>

  </ion-menu>
  
  

  <ion-router-outlet main></ion-router-outlet>
  <ion-header>
      <ion-toolbar color="primary">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Tareas</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <!-- cuerpo de la pantalla -->
    <ion-content padding>
        
        <ion-grid>

          <ion-row align-items-center>
            <ion-col>
              <ion-button [routerLink]="['/seleccionar-ubicacion']">
                  <ion-icon slot="start" name="star"></ion-icon>
                  REGISTRO
              </ion-button>


            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button [routerLink]="['/conteo/seleccionar-ubicacion']">
                <ion-icon slot="start" name="star"></ion-icon>
                  CONTEO
                </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-button>
                <ion-icon slot="start" name="star"></ion-icon>
                  DAR DE BAJA
              </ion-button>
            </ion-col>
          </ion-row>

        </ion-grid>
   
      </ion-content>