<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start" menu="m1">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
    
<!-- cuerpo de la pantalla -->
<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <section class="ion-text-center">
    <h1 style="font-size:1.2em">Bienvenido/a<br> Por favor, elija el tipo de <strong>TAREA</strong> que desee realizar</h1>
  </section>

  <ion-grid>
    <ion-row class="ion-align-items-center ion-text-center">
        <ion-col col-6>
          <ion-button 
            class="caratula-button"
            [routerLink]="['/seleccionar-ubicacion']"
            expand="full"
            size="large"
            >
            <div>
              <ion-icon class="icon-button" slot="start" name="save"></ion-icon>
              <ion-label class="label-button">REGISTRO</ion-label>
            </div>
            <ion-badge color="danger">{{registrosNum}}</ion-badge>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-text-center">
        <ion-col col-6>
          <ion-button
            class="caratula-button"
            [routerLink]="['/conteo/seleccionar-ubicacion']" 
            expand="full"
            size="large"
            >
            <div>
              <ion-icon class="icon-button" slot="start" name="checkbox-outline"></ion-icon>
              <ion-label class="label-button">CONTEO</ion-label>
            </div>
            <ion-badge slot="end" color="danger">{{conteosNum}}</ion-badge>
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="ion-align-items-center ion-text-center">
          <ion-col col-6>
              <ion-button
                class="caratula-button"
                [routerLink]="['/bajas/seleccionar-ubicacion']"
                expand="full"
                size="large"
                >
                <div>
                  <ion-icon class="icon-button" slot="start" name="remove-circle-outline"></ion-icon>
                  <ion-label class="label-button">DAR DE BAJA</ion-label>
                </div>
                <ion-badge slot="end" color="danger">{{bajasNum}}</ion-badge>
                </ion-button>
          </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>