<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="seleccionar-ubicacion"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ubicacion.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{fecha|date:'mediumDate'}}

   <!-- fab placed to the (vertical) center and end -->
  

  <ion-list>
    <ion-list-header>
      <ion-label>BIENES ACTUALES</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let bien of bienes">

      <ion-label>
        <h2>{{bien.nombre}}</h2>
        <p>{{bien.codigo_barras}}</p>
      </ion-label>

      <div *ngIf="bien.enviado == true; else elseBlock">Pendiente</div>
      <ion-button color="danger" style="flex-flow: column;" (click)="mostrarModal(bien.id)" [disabled]="bien.enviado == true ? true : false">
        <ng-template #elseBlock>
          
        </ng-template>
        <p>Dar de baja</p>

      </ion-button>
        
    </ion-item>
  </ion-list>

   


  

</ion-content>

