<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="seleccionar-ubicacion"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ubicacion.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  {{fecha.toTimeString()}}

   <!-- fab placed to the (vertical) center and end -->
  

  <ion-list>
    <ion-list-header>
      <ion-label>BIENES ACTUALES</ion-label>
    </ion-list-header>
    
    <ion-item *ngFor="let bien of bienes">

      {{bien.nombre}}
      {{bien.descripcion}}
      {{bien.clase}}

      <div *ngIf="bien.enviado == true; else elseBlock">Pendiente</div>
      <ion-button color="danger" style="font-size:1.2em" (click)="mostrarModal(bien.id)" [disabled]="bien.enviado == true ? true : false">
        <ng-template #elseBlock>
          
        </ng-template>
        <ion-icon name="trash"></ion-icon>
          
      </ion-button>
        
    </ion-item>
  </ion-list>

   


  

</ion-content>

