<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="caratula"></ion-back-button>
      </ion-buttons>
      <ion-title>Bajas asignadas</ion-title>
    </ion-toolbar>
  </ion-header>
   

<ion-content>
  <ion-list>

    <ion-item *ngFor="let tarea of tareas" (click)="irAGestionDeBajas(tarea.id_ubicacion)"  detail >
      <ion-label>
        <h2>{{tarea.ubicacionNombre}}</h2>
        <p> {{tarea.fecha_asignacion|date:'mediumDate'}}</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>
