<ion-app>
  <ion-menu side="start" menuId="m1">

    <ion-header>
      <ion-toolbar >
        <ion-title>Yavirac</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="save" slot="start"></ion-icon>
            <ion-label>Registro</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="checkbox-outline" slot="start"></ion-icon>
            <ion-label>Conteo</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon name="remove-circle-outline" slot="start"></ion-icon>
            <ion-label>Bajas</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none">
            <ion-icon [color]="isOnline ? 'success' : 'danger'" name="radio-button-on" slot="end"></ion-icon>
            <ion-label>En línea</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle>
          <ion-item lines="none" (click)="onLogout()" button>
            <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Salir</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>

  </ion-menu>

  <ion-router-outlet main></ion-router-outlet>
</ion-app>
