<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="seleccionar-ubicacion"></ion-back-button>
    </ion-buttons>
    <ion-title>({{horaFechaFin | date:'mm:ss'}} mins.)</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onSubmit()" [disabled]="bienesEstaVacio">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- fab placed to the (vertical) center and end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irARegistro()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header>
      <ion-label>REGISTRANDO BIENES...</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let bien of bienes">
      <ion-item-options side="start">
        <ion-item-option (click)="quitar(bien)" color="danger" expandable>
          Eliminar
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          <h2>{{ bien.nombre }}</h2>
          <h3>{{ bien.codigo }}</h3>
          <p>{{ bien.observaciones }}</p>
          <p> bien.imagenBien.name </p>
        </ion-label>
        <ion-thumbnail slot="end">
          <img src="http://localhost/_capacitor_file_/storage/emulated/0/Android/data/com.yavirac.app/cache/bien.imagenBien.name">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="tertiary" expandable>
          Editar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>